/* custom font */

@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Bebas+Neue&family=Quicksand:wght@400;500;700&family=Roboto&family=Roboto+Condensed&family=Saira+Extra+Condensed&display=swap');

/* variables */
:root {
    --back-dark: #252525;
    --back-grey:#303030;
    --back-grey2: #444444;
    --dark-blue:#536BAA;
    --yellow: #F5B727;
    --orange:#cc6d01;
    --green:#5a7e1f;
    --teal: #32A0C2;
    --delay: #B14343;
    --warning: #ff3c6d;
    --primary: #ddd;
    --deliveries: #2A9F98;
    --orders: #D445EC;
}

/* base styles */
* {
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--primary);
    margin:0;
    
}
body {
    background-color: var(--back-dark);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4  {
    font-weight: 500;
    color: #fff;
}
    
.main-container {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: 120px 1fr;
    row-gap: 0;
    text-align: left;
    
}

.nav-container{
    background-color: var(--back-dark);
    /* background-image: linear-gradient(var(--back-dark), var(--back-grey2), var(--back-grey2)); */
    box-shadow: 0px 2px 4px rgba(30, 30, 30, 0.5);
}
.sub-container {
    display: grid;
    grid-template-columns: 220px 1fr;
    column-gap: 0;
    background-color: var(--back-grey);
    background-image: linear-gradient(to left, var(--back-dark), var(--back-grey));
    margin: 0px auto;
    width: 90%;
    /* max-width: 1600px; */
    min-height: 800px;
    
}
.sub-container .body-container{
    padding-top: 30px;
    margin: 10px 80px;
    justify-self: start;
    /* max-width: 1100px; */

}
.downbar{
    background-color: rgba(25,25,25,0.8);
    height: 14px;
    font-size: 0.8em ;
    color: var(--primary);
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

a {
    text-decoration: none;
}
/* buttons */
button, .btn {
    background: var(--back-grey2);
    color: var(--primary);
    font-size: 13px;
    border: 0;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    
}
button:hover, .btn:hover {
    background-color: var(--orange);
}
.edit-btn, .edit-btn {
    background-color: rgb(21, 141, 0);
}
.sub-btn, .sub-btn {
    background-color: rgb(0, 117, 163);
}
.delete-btn, .delete-btn {
    background-color: rgb(199, 3, 3);
}
.submit{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}
.submit button{
    width: 200px;
}

button:disabled{
    opacity: 0.5;
    color: var(--primary);
    background: var(--back-grey);
    cursor: not-allowed;
}
form {
    max-width: 800px;
    min-width: 440px;
    margin: 40px auto;
    justify-items: center;
    padding: 30px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.5);
    background: var(--back-grey2);
}
form button {
    background-color: var(--dark-blue);
}


input, textarea, select {
    border: 0;
    color: #333333;
    padding: 10px;
    outline: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px auto;
    font-weight: 500;
    font-size: 16px;
    height: 42px;
}
textarea{
    resize: none;
    height: 100%;
}
option{
    color: #000;
    line-height: 55px;
}
.add-form-header{
    display: flex;
    align-items: flex-end;
    padding: 0px 0px 30px 0;
}
.add-form-header img{
    margin-right: 20px;
}

.error {
    color: var(--warning);
    font-size: 14px;
    margin: 10px 0;
}
.warning{
    color:#e24444;
}
.text-yellow{
    color:#ffd000;
}
.center-text {
    text-align: center;
  }
    
.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
.lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background:var(--button2);
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }

  
/* width */
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 1px 1px 2px grey;  */
    box-shadow: none;
    background-color: #444;
    border-radius: 0px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: var(--dark-blue); 
      border-radius: 0px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--orange); 
  }
  .flipswitch {
    margin: 20px 0;
    position: relative;
    width: 98px;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #8C8C8C;
  border-radius: 50px;
}
.flipswitch-inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
  
}
.flipswitch-inner:before, .flipswitch-inner:after {
  float: left;
  width: 50%;
  height: 22px;
  padding: 0;
  line-height: 22px;
  font-size: 12px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  
}
.flipswitch-inner:before {
  content: "PRIO";
  padding-left: 11px;
  background-color: #50990F;
  color: #FFFFFF;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,0.4);
}
.flipswitch-inner:after {
    content: "NIE PRIO";
    padding-right: 11px;
    background-color: #636363;
    color: #E8E8E8;
    text-align: right;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.4);
}
.flipswitch-switch {
  width: 29px;
  margin: -3.5px;
  background: #F5B727;
  box-shadow: 1px 1px 3px rgba(4,4,4,0.4), -1px -1px 3px rgba(4,4,4,0.4);
  border-radius: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 73px;
  transition: all 0.3s ease-in 0s;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-inner {
  margin-left: 0;
}
.flipswitch-cb:checked + .flipswitch-label .flipswitch-switch {
  right: 0;
}